  <div class="header">

    <div class="logo-space">
      <img
        src="https://github.com/Ssangbomb/resource-wall/blob/master/public/images/logo/Logo_middterm2.png?raw=true"
        alt=""
        class="logo"
      />
    </div>

    <div class="header-right">
      <a class="active" href="/">Home</a>
      <div class="box">
        <input type="search" id="search" placeholder=" Search">
          <i id="searchButton" class="fas fa-search"></i>
      </div>
      <% if (user.id !== 0 ) { %>
        <a href="/myresource">My resource</a>
        <a href="/newpost">Post</a>
        <a href="/users">User</a>
        <p class="navbar-text mr-3">Logged in as <%= user.name %></p>
        <form action="/" method="POST">
          <div class="bottons">
            <button type="submit" class="btn btn-primary">logout</button>
          </div>
        </form>
        <% } else { %>
          <form class="form-inline" action="/users" method="POST">
            <div class="credentials">
              <input type="username" placeholder="username" name="username" />
              <input type="password" placeholder="Password" name="password" />
            </div>
            <div class="bottons">
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
            

      </form>
      <div class="bottons"></div>
        <button type="submit" class="btn btn-primary">Register</button>
      </div>
      <% } %>
    </div>
  </div>

  <!-- <script>
    function redirectToNewPost() {
      window.location.href = ;
    }
  </script> -->
