  <div class="header">

    <div class="logo-space">
      <img
        src="https://github.com/Ssangbomb/resource-wall/blob/main-page/public/images/logo/Logo_middterm2.png?raw=true"
        alt=""
        class="logo"
      />
    </div>

    <div class="header-right">
      <a class="active" href="/">Home</a>
      <a href="#search">Search</a>
      <a href="/users">User</a>
      <form class="form-inline" action="/login" method="POST">
        <div class="credentials">
          <input type="username" placeholder="username" name="username" />
          <input type="password" placeholder="Password" name="password" />
        </div>
        <div class="bottons">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </form>
      <div class="bottons"></div>
        <button type="submit" class="btn btn-primary">Register</button>
      </div>
    </div>
  </div>
