.main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  padding: 50px ;

}

.picture img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 15px 25px
  rgba(0,0,0,0.50);
  max-width: 1000px;
  margin: auto;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: space-between;
  padding-top: 10px;
}

// .content .comments{
//   display: flex;
//   justify-content: center;
//   overflow: auto;
// }
.avr-rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.avr-rating form.rating{
  display: flex;
  flex-direction: column;


}

.avr-rating div.satars{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.avr-rating div#number{
  display: flex;
  flex-direction: column;
  align-self: center;


}
.avr-rating div.rate-button{
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-top: 5px;

}
#rate-button {
  background-color: dodgerblue;
  color: white;

}


.rating label {
  color: grey;
}

.rating input[type="radio"] {
  display: none;
}
.rating {
  display: flex;
  direction: rtl; /* right to left */
  unicode-bidi: bidi-override; /* bidi de bidireccional */
  justify-content: center;
  align-self: center;
}
.icons {
  display: flex;
  direction: rtl; /* right to left */
  unicode-bidi: bidi-override; /* bidi de bidireccional */
  justify-content: center;
}


.rating label:hover {
  color: orange;
}

.rating input[type="radio"]:checked ~ label {
  color: orange;
}
.icons input[type="radio"]:checked ~ label {
  color: rgb(247, 10, 10);
}
.description p{
  overflow:  scroll;
  height: 150px;
  border: rgb(6, 6, 6) 1px solid;
  padding: 5px;
  box-shadow: 0px 15px 25px
  rgba(0,0,0,0.50);

}


.content label{
  border: rgb(6, 6, 6) 1px solid;
  padding: 5px;
  box-shadow: 0px 15px 25px
  rgba(0,0,0,0.50);

}

label.left {
  padding: 5px;
  background-color: rgb(121, 141, 141);
  box-shadow: 0.5px;
}

// Here is the CSS for new comments and existing comments

footer{
  display: flex;
  height: 1250px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  font-style: normal;
  padding: 0 1.5em;
  /* position: fixed; */
  color: #070707;
  font-family: sans-serif;
}

.comment {
  display: flex;
  flex-direction: column;
}

footer section form {
  display: flex;
  flex-flow: column wrap;
}

footer section form textarea {
  border: none;
  width: 580px;
  border-bottom: 2px solid black;
  background-color: transparent;
  align-items: end;
}

.botton {
  display: flex;
  font-family: Bungee, sans-serif;
  justify-content: space-between;
  align-content: center;
}

.botton button {
  background-color: #4056a1;
  color: white;
  font-family: Bungee, sans-serif;
}

.counter-invalid {
  color: red;
}

main #error-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: red;
}


.old_comment{
  display: flex;
  flex-direction: column;
  border: 2px solid #050505;
  width: 580px;
  height: auto;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 10px;

}
#likes{
  display: flex;
  justify-content: center;
}
section.likes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}

.like-Unlike {
  border-style: none;
  background-color: inherit;
}
